<div class="card" id="card-container-<%= incGuild.id%>">
    <div class="card-image-container" id="<%= incGuild.name%>-holder">

    </div>
    <div class="card__content">
        <p class="card__title text--medium">
            <%= incGuild.name%>
        </p>
        <div class="card__info">
            <p class="me-2 mb-0" id="owner-<%= incGuild.name %>">Vous appartient</p>
            <a href="/dashboard/<%= incGuild.id %>" class="card__setup btn ms-auto" id="text-serv-holder">
                <p class="mb-0" id="text-serv">Manage</p>
            </a>

        </div>
    </div>
</div>
<script>
    var str = "<%= incGuild.name %>";
    var acronym = str.match(/\b(\w)/g).join('');
    if (!'<%= incGuild.icon %>') {
        document.getElementById("<%= incGuild.name%>-holder").setAttribute("class", "card-image-container no-icon");
        var div = document.createElement("div");
        div.setAttribute("class", "no-icon-logo");
        div.textContent = acronym;
        var holder = document.getElementById("<%= incGuild.name%>-holder");
        holder.appendChild(div);

    }
    else {
        var img = document.createElement("img");
        img.src = "https://cdn.discordapp.com/icons/<%= incGuild.id%>/<%= incGuild.icon %>.png";
        img.setAttribute("class", "img");
        var holder = document.getElementById("<%= incGuild.name%>-holder");
        holder.appendChild(img);

        var bg = document.createElement("img");
        bg.src = "https://cdn.discordapp.com/icons/<%= incGuild.id%>/<%= incGuild.icon %>.png";
        bg.setAttribute("class", "bg");
        var holder = document.getElementById("<%= incGuild.name%>-holder");
        holder.appendChild(bg);
    }

    

    if('<%= incGuild.owner %>' === 'true')
    {
        document.getElementById('owner-<%= incGuild.name %>').innerHTML = "Guild Owner";
    }
    else document.getElementById('owner-<%= incGuild.name %>').innerHTML = "Guild Manager";





</script>